@charset "utf-8";
/* CSS Document */

.blue {
    background-color: #4286f4;
}

.brown {
    background-color: brown;
}

.white {
    background-color: white;
}

.font-white {
    color: white;
}

.lightblack {
    background-color:#404040; 
    width: 75%;
}