@charset "utf-8";

body { 
    padding-top: 50px; 
}

.extra-space-top {
    padding-top: 30px;
}

.center {
    margin: auto;
    width: 50%;
}

.menu {
    width: 60%;
    height: 40%;
}

.poster {
    width: 30%;
    height: 40%;
}