@charset "utf-8";

body { 
    padding-top: 50px; 
}

.extra-space-top {
    padding-top: 30px;
}

.center {
    margin: auto;
    width: 50%;
}

.moviesMargin {
    margin-left: 10px;
}

.noSidePadding {
    padding-left: 0;
    padding-right: 0;
}

.border {
    border: 1px solid black;
}

.menu {
    width: 60%;
    height: 40%;
}

.poster {
    width: 25%;
    height: 30%;
}

.anchor {
    color: black;
    text-decoration: none;
}

.anchor:hover {
    color: black;
    text-decoration: none;
}

.footer {
    
}

.marginLeft {
    margin-left: 10px;
}

.paddingTop {
    padding-top: 10px;
}

.searchWidth {
    width: 75%;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}